#
# Ignore all files
*
.*

#
# revert ignore
!.asoundrc
!.gitignore
!.gitmodules
!.xinitrc
!.Xresources
!.zshenv
!README.md

!.config/
!.config/awesome/
!.config/awesome/**/*
!.config/coc/
!.config/coc/*
!.config/coc/extensions/package.json
!.config/foot/
!.config/foot/**/*
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/fzf/
!.config/fzf/**/*
!.config/git/
!.config/git/**/*
!.config/ranger/
!.config/ranger/**/*
!.config/screenlayout/
!.config/screenlayout/**/*
!.config/tmux/
!.config/tmux/**/*
!.config/vim/
!.config/vim/**/*
!.config/xresources/
!.config/xresources/**/*
!.config/zsh/
!.config/zsh/**/*
!.config/dircolors
!.config/pavucontrol.ini
!.config/key.map

!.local/
!.local/bin/
!.local/bin/*
!.local/share/
!.local/share/fonts/
!.local/share/fonts/*

.config/TabNine/
.config/TabNine/**/*

#
# ignore specific files
*history*
*used*
pulse/
plug.vim*
.config/tmux/resurrect/tmux_resurrect*
.local/bin/ampli-tunnel


# Created by https://www.gitignore.io/api/vim,zsh,linux
### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~
.vim
### Zsh ###
*.zwc
*.zwc.old
*zcompdump*
.zcalc_history
._zplugin
.zplugin_lstupd
zsdoc/data
.directory_history
.venv
/tests/_output/*
!/tests/_output/.gitkeep
